<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  
    <!-- Boxicons -->
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Glide js -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.core.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/css/glide.theme.css">
    <!-- Custom StyleSheet -->
    <link rel="stylesheet" href="./css/styles.css" />
    <title>Latoyaandstyles</title>
    <link rel="icon" href="/images/first.jpeg">
  </head>
  <body>
    <!-- Header -->
    <header class="header" id="header">
      <!-- Top Nav -->
      <!-- <div class="top-nav">
        <div class="container d-flex">
          <p>Order Online Or Call Us: (001) 2222-55555</p>
          <ul class="d-flex">
            <li><a href="#">About Us</a></li>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div> -->
      <div class="navigation">
        <div class="nav-center container d-flex">
        <a href="/" class="logo"><h1>Latoyaandstyles</h1></a>

          <ul class="nav-list d-flex">
            <li class="nav-item">
              <a href="/" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
              <a href="/product" class="nav-link">Shop</a>
            </li>
            <li class="nav-item">
            <a href="/about" class="nav-link">About</a>
            </li>
            <li class="nav-item">
              <a href="/contact" class="nav-link">Contact</a>
            </li>
           
            <li class="icons d-flex">
            <a href="/login" class="icon">
              <i class="bx bx-user"></i>
            </a>
            
           
            <a href="/cart" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </li>
          </ul>

          <div class="icons d-flex">
            <a href="/login" class="icon">
              <i class="bx bx-user"></i>
            </a>
            
           
            <a href="/cart" class="icon">
              <i class="bx bx-cart"></i>
              <span class="d-flex">0</span>
            </a>
          </div>

          <div class="hamburger">
            <i class="bx bx-menu-alt-left"></i>
          </div>
        </div>
      </div>

    <div class="hero">
      <div class="glide" id="glide_1">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">
            <li class="glide__slide">
              <div class="center">
                <div class="left">
                  <span class="">Best Fashion Content</span>
                  <h1 class="">NEW COLLECTION</h1>
                  <p> Lady's style collection</p>
                  <div class="but">
                   <button>SHOP NOW</button> 

                  </div>
                                 </div>
                <div class="right">
                    <img class="img1" src="/images/freestocks-_3Q3tsJ01nc-unsplash-removebg-preview.png">
                </div>
              </div>
            </li>
            <li class="glide__slide">
              <div class="center">
                <div class="left">
                  <span>New Inspiration 2020</span>
                  <h1>THE PERFECT MATCH!</h1>
                  <p>Trending from LADY'S collection</p>
                  <a href="#section new-arrival" class="hero-btn">SHOP NOW</a>
                </div>
                <div class="right">
                  <img class="img2" src="/images/banner.png" alt="">
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </header>

    <!-- Categories Section -->
    <section class="section category">
      <div class="cat-center">
        <div class="cat">
          <img src="/images//latoyaandstyles_f068a0e4c95a473f9beef5aa5c04a57a.jpg" alt="" />
          <div>
            <p>LADY'S WEAR</p>
          </div>
        </div>
        <div class="cat">
          <img src="/images/wety.png" alt="" />
          <div>
            <p>ACCESSORIES</p>
          </div>
        </div>
        <div class="cat">
          <img src="/images/latoyaandstyles_659e4fec212d4b0582f91eabeb040d10.jpg" alt="" />
          <div>
            <p>LADY'S WEAR</p>
          </div>
        </div>
      </div>
    </section>

    <!-- New Arrivals -->
    <section id="new-arrival" class="section new-arrival">
      <div class="title">
        <h1>NEW ARRIVALS</h1>
        <p>All the latest picked from designer of our store</p>
      </div>

      <div class="product-center">
        <% products.forEach(function(product) { %>


        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="/uploads/<%= product.image %>" alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>LADY'S CLOTHES</span>
            <a href="#"><%= product.description %></a>
            <h4>₦<%= product.price %></h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><a href="https://www.latoyaandstyles.com/cart/<%= product.id %>"><i class="bx bx-cart"> </i></a> </li>
          </ul>
        </div>

        <% }); %>
      </div>
    </section>


    <!-- Promo -->

    <section class="section banner">
<div class="left">
  <span class="trend">Trend Design</span>
  <h1>New Collection 2021</h1>
  <p>New Arrival <span class="color">Sale 50% OFF</span> Limited Time Offer</p>
  <a href="#" class="btn-btn-1">Discover Now</a>
</div>
<div class="right">
  <img src="./images/freestocks-_3Q3tsJ01nc-unsplash-removebg-preview.png" alt="">
</div>
    </section>




    <!-- Featured -->
  
    <section id="new-arrival" class="section new-arrival">
      <div class="title">
        <h1>Featured</h1>
        <p>All the latest picked from designer of our store</p>
      </div>

      <div class="product-center">
        <% products.forEach(function(product) { %>


        <div class="product-item">
          <div class="overlay">
            <a href="#" class="product-thumb">
              <img src="/uploads/<%= product.image %>" alt="" />
            </a>
          </div>
          <div class="product-info">
            <span>LADY'S CLOTHES</span>
            <a href="#"><%= product.description %></a>
            <h4>₦<%= product.price %></h4>
          </div>
          <ul class="icons">
            <li><i class="bx bx-heart"></i></li>
            <li><i class="bx bx-search"></i></li>
            <li><a href="https://www.latoyaandstyles.com/cart/<%= product.id %>"><i class="bx bx-cart"> </i></a> </li>
          </ul>
        </div>

        <% }); %>
      </div>
    </section>

    <!-- Contact -->
    <section class="section contact">
      <div class="row">
        <div class="col">
          <h2>EXCELLENT SUPPORT</h2>
          <p>We love our customers and they can reach us any time
          of day we will be at your service 24/7</p>
          <a href="/contact" class="btn btn-1">Contact</a>
        </div>
        <div class="col">
          <form action="https://www.latoyaandstyles.com/subscribe" method="post">
            <div>
              <input type="email" name="email" id="email" placeholder="Email Address">
            <button type="submit" class="signupbtn">Send</button>
            </div>
          </form>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="footer">
      <div class="row">
        <div class="col d-flex">
          <h4>INFORMATION</h4>
          <a href="">About us</a>
          <a href="">Contact Us</a>
          <a href="">Term & Conditions</a>
          <a href="">Shipping Guide</a>
        </div>
        <div class="col d-flex">
          <h4>USEFUL LINK</h4>
          <a href="">Online Store</a>
          <a href="">Customer Services</a>
          <a href="">Promotion</a>
          <a href="">Top Brands</a>
        </div>
        <div class="col d-flex">
          <span><a href="https://www.instagram.com/latoyaandstyles?igsh=MWtpMDlnM2xzc2MxMQ%3D%3D&utm_source=qr"><i class='bx bxl-instagram-alt'> </i></a> </span>
          <span>  <a href="https://whatsapp.com/biz/"> <i class='bx bxl-whatsapp' ></i></a></span>
          <span>  <a href="https://ebere.tracy@yahoo.com"> <i class="bx bx-envelope icon'" ></i></a></span>

        </div>
      </div>
    </footer>


  <!-- PopUp -->
  <div class="popup hide-popup">
    <div class="popup-content">
      <div class="popup-close">
        <i class='bx bx-x'></i>
      </div>
      <div class="popup-left">
        <div class="popup-img-container">
          <img class="popup-img" src="./images/popup.jpg" alt="popup">
        </div>
      </div>
      <div class="popup-right">
        <div class="right-content">
          <h1>Get Discount <span>50%</span> Off</h1>
          <p>Sign up to our newsletter and save 30% for you next purchase. No spam, we promise!
          </p>
          <form action="https://www.latoyaandstyles.com/subscribe" method="post">
            <input type="email" placeholder="Enter your email..." class="popup-form">
            <button type="submit" href="#">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  </body>
  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-f148e67a-3b46-41ac-8f8b-e418cb37bafb" data-elfsight-app-lazy></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.4.1/glide.min.js"></script>
  <script src="./js/slider.js"></script>
  <script src="./js/index.js"></script>
</html>
